<h1>Editing Material Requirement</h1>

<%= render 'form', material_requirement: @material_requirement %>

<%= link_to 'Show', @material_requirement %> |
<%= link_to 'Back', material_requirements_path %>
